stages:
  - build
  - deploy

variables:
  IMAGE_TAG: "$CI_COMMIT_SHORT_SHA"

build-backend:
  stage: build
  image: docker:24.0.7
  services:
    - docker:24.0.7-dind
  before_script:
    - apk add --no-cache bash
  script:
    - cd CI
    - ./build_backend.sh
  rules:
    - if: $CI_COMMIT_BRANCH

build-frontend:
  stage: build
  image: node:20-alpine
  before_script:
    - apk add --no-cache bash curl unzip
  script:
    - cd CI
    - ./build_frontend.sh
  rules:
    - if: $CI_COMMIT_BRANCH

deploy-infra:
  stage: deploy
  image: hashicorp/terraform:1.6.6
  variables:
    TF_INPUT: "false"
    YC_TOKEN: "$YC_OAUTH_TOKEN"
  before_script:
    - apk add --no-cache bash curl unzip jq
    - curl https://storage.yandexcloud.net/yandexcloud-yc/install.sh | bash
    - export PATH="$PATH:/root/yandex-cloud/bin"
    - yc --version
  script:
    - cd infrastructure/serverless
    - terraform init
    - terraform apply -auto-approve
  rules:
    - if: $CI_COMMIT_BRANCH

