apiVersion: v1
kind: Service
metadata:
  name: frontend
  labels:
    app: frontend
    component: web
spec:
  type: NodePort
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP
    name: http
    nodePort: 30080  # Внешний порт для доступа к frontend
  selector:
    app: frontend

